# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production builds
/build
/dist

# Misc
.DS_Store
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
Thumbs.db
desktop.ini
.DS_Store

# Vercel
.vercel

# Cache
.cache/
.contentlayer/
*.tsbuildinfo

# Temp files
*.tmp
*.temp
*-backup.*